/**
 * Site header
 */
.centered {
	margin: auto auto;
	position: relative;
	top: 40%;

	@include media-query ($mobile) {
		top: $spacing-unit;
	}
}

.light {
	color: $light-color;
}

.light-background {
	background-color: $light-color;
}

.dark {
	color: $base-color;
}

.dark-background {
	background-color: $base-color;
}

/**
 * Landing page
 */
#wrapper {
	width: 17 * $spacing-unit;

	@include media-query ($mobile) {
		@include calc(width, "100% - 64px");
		padding: $spacing-unit;
	}

	h1 {
		font-size: $header-font-size;
		font-family: $base-font-family;
		width: 17 * $spacing-unit;
		margin-bottom: 8px;

		@include media-query ($mobile) {
			width: 100%;
		}
	}

	p {
		font-family: $base-font-family;
		font-size: $content-font-size;
		width: 17 * $spacing-unit;
		line-height: 30px;
		margin-bottom: $spacing-unit;

		@include media-query ($mobile) {
			width: 100%;
		}
	}

	a.horizontal {
		color: $light-color;
		font-size: $content-font-size;
		font-family: $base-font-family;
		display: block;
		float: left;
		width: (5 * $spacing-unit) - 4;
		height: 2 * $spacing-unit;
		text-align: center;
		text-decoration: none;
		line-height: 2 * $spacing-unit;
		margin-right: $spacing-unit;
		border: 2px solid $light-color;

		@include media-query ($mobile) {
			@include calc(width, "100% - 32px");
			margin-bottom: 16px;
			text-align: left;
			padding-left: $spacing-unit;
			margin-right: 0px;
		}
	}

	a.horizontal:last-of-type {
		margin-right: 0px;
	}

	a.horizontal:hover {
		background-color: $light-color;
		color: $base-color;
	}
}

/**
 * Blog styles
 */
#sidebar {
	height: 100%;
	width: 11 * $spacing-unit;
	padding: $spacing-unit;
	position: fixed;

	#sidebar-content {
		margin-top: 200px;
	}

	h2 a, h2 a:active, h2 a:visited {
		width: 11 * $spacing-unit;
		font-family: $base-font-family;
		font-size: $blog-header-font-size;
		margin-bottom: 8px;
		color: $light-color;
		text-decoration: none;
	}

	p {
		width: 11 * $spacing-unit;
		font-family: $base-font-family;
		font-size: $blog-content-font-size;
		line-height: 24px;
		margin: none;

	}

	a.vertical {
		color: $light-color;
		font-size: $blog-content-font-size;
		font-family: $base-font-family;
		display: block;
		float: left;
		width: (10 * $spacing-unit) - 4;
		height: (1.5 * $spacing-unit) - 4;
		text-align: left;
		text-decoration: none;
		line-height: (1.5 * $spacing-unit) - 4;
		border: 2px solid $light-color;
		margin-top: 0.5 * $spacing-unit;
		padding-left: $spacing-unit;
	}

	a.vertical:hover {
		background-color: $light-color;
		color: $base-color;
	}

	#archive {
		display: block;
		float: left;
		width: 100%;
		border-top: 2px solid $light-color;
		padding-top: 0.5 * $spacing-unit;
		margin-top: 0.5 * $spacing-unit;
		font-family: $base-font-family;
		font-size: $blog-content-font-size;
		color: $light-color;
	}

	@include media-query ($mobile) {
		display: none;
	}
}

#header {
	display: none;

	@include media-query ($mobile) {
		@include calc (width, "100% - 64px");

		float: left;
		display: block;
		padding: $spacing-unit;

		#header-content {
			float: left;
			width: 100%;

			h2 a, h2 a:active, h2 a:visited {
				float: left;
				font-family: $base-font-family;
				font-size: $blog-header-font-size;
				color: $light-color;
				text-decoration: none;
			}

			#menu-button {
				float: right;
				color: $light-color;
				font-size: $blog-header-font-size;
			}

			#mobile-menu {
				float: left;
				width: 100%;
			}

			a.vertical {
				@include calc (width, "100% - 32px");

				color: $light-color;
				font-size: $blog-content-font-size;
				font-family: $base-font-family;
				display: block;
				float: left;
				height: (1.5 * $spacing-unit) - 4;
				text-align: left;
				text-decoration: none;
				line-height: (1.5 * $spacing-unit) - 4;
				border: 2px solid $light-color;
				margin-top: 0.5 * $spacing-unit;
				padding-left: $spacing-unit;
			}

			a.vertical:hover {
				background-color: $light-color;
				color: $base-color;
			}
		}
	}
}

.blog-content {
	width: 17 * $spacing-unit;
	padding: $spacing-unit;
	margin-left: 13 * $spacing-unit;
	color: $base-color;
	font-family: $base-font-family;

	@include media-query ($mobile) {
		@include calc(width, "100% - 64px");
		float: left;
		margin-left: 0px;
	}

	.blog-content:first-child {
		margin-top: 200px;

		@include media-query ($mobile) {
			margin-top: 0px;
		}
	}

	h1 a, h1 {
		width: 100%;
		font-family: $base-font-family;
		font-size: $blog-header-font-size;
		font-weight: bold;
		color: $base-color;
		text-decoration: none;
		float: left;
	}

	.post-meta {
		width: 100%;
		height: $spacing-unit;
		line-height: $spacing-unit;
		font-family: $base-font-family;
		font-size: 0.75 * $blog-content-font-size;
		color: #666;
		margin-bottom: 0.5 * $spacing-unit;
		float:left;
	}

	> article:first-of-type {
		margin-top: 200px;

		@include media-query ($mobile) {
			margin-top: 0px;
		}
	}

	> h1:first-of-type {
		margin-top: 200px;

		@include media-query ($mobile) {
			margin-top: 0px;
		}
	}

	article {
		border-bottom: 1px solid #EEE;
		margin-bottom: $spacing-unit;

		h2 {
			width: 100%;
			display: inline-block;
			height: $spacing-unit;
			line-height: $spacing-unit;
			font-family: $base-font-family;
			font-size: $blog-content-font-size;
			color: $base-color;
		}

		h3 {
			height: $spacing-unit;
			line-height: $spacing-unit;
			display: inline-block;
			font-family: $base-font-family;
			font-size: $blog-content-font-size;
			font-weight: normal;
			color: $base-color;
		}

		p {
			color: #666;
			font-size: $blog-content-font-size;
			font-family: $base-font-family;
			line-height: 24px;
			margin-bottom: $spacing-unit;

			strong {
				color: $base-color;
			}

			img {
				width: 100%;
			}

		}

		a {
			color: $base-color;
		}

		ul {
			float: left;
			height: auto;
			padding: 0px $spacing-unit $spacing-unit $spacing-unit;

			li {
				font-size: $blog-content-font-size;
				font-family: $base-font-family;
				color: #666;
				line-height: 24px;
			}
		}

		pre {
			background-color: #EEE;
			padding: 0.5 * $spacing-unit;
			white-space: pre-wrap;
			white-space: -moz-pre-wrap;
			white-space: -pre-wrap;
			white-space: -o-pre-wrap;
			word-wrap: break-word;
			margin-bottom: $spacing-unit;
		}

		code {
			font-size: 0.8 * $blog-content-font-size;
			background-color: #EEE;
		}

	 }
}

